@import 'weapp-tailwindcss';
@plugin '@egoist/tailwindcss-icons' {
  scale: 1.5;
}

@theme {
  --color-card: var(--color-white);
  --color-border: oklch(0.9220 0 0);
}

@layer theme {
  :root, :host {
    @variant dark {
      --color-card: #262626;
      --color-border: oklch(0.2750 0 0);
    }
  }
}

page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @apply bg-neutral-100 dark:bg-[#101010];
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.scroll-area {
  flex: 1;
  overflow-y: hidden;
}
